<html>

	<head>
		<title>FullCourt v0.0</title>
		<meta charset="UTF-8">

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

		<link rel="stylesheet" type="text/css" href="static/hello.css">
		<script type="text/javascript" charset = "utf8" src="static/hello.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>		
	
	</head>
	
	<body>
		
		<h1>
			Hello ${name}
		</h1>

		<div class="test">
			The time is now ${t}
		</div>

		<div class="results">
			<table class="display" id="asadtable">

				<thead> <tr> <th>Name</th> <th>Position</th> </tr> </thead>

				<tbody>
					<tr><td>test</td><td>testing</td></tr>
					<tr><td>asad</td><td>waheed</td></tr>
				</tbody>
			</table>
		</div>
	</body>

</html>