.test {
	background-color: orange;
	padding-left: 100px;
	text-align: center;
}

body { 
	font-family: "Calibri";
}

h1 {
	font-size: 22px;
	font-style: bold;
	padding-left: 200px;
}

.results {
	background-color: beige;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.login {
	
}