<html>
	<head>
		<link rel="stylesheet" type="text/css" href="templates/hello.css">
		<script type="text/javascript" charset = "utf8" src="templates/hello.js"></script>
		<link rel="stylesheet" type="text/css" href="templates/DataTables/datatables.css">
		<script type="text/javascript" charset="utf8" src="templates/DataTables/datatables.js"></script>
	</head>
	<body>
		<h1>
			Hi {{name}}
		</h1>
		<div class="asad">
			The time is now {{t}}
		</div>
		<div class="display" id="example">
			<ul>
				<li>
					test
				</li>
				<li>
					testing
				</li>
			</ul>
		</div>
	</body>
</html>