<html>

	<head>
		<title>FullCourt v0.0</title>
		<meta charset="UTF-8">

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='hello.css')}}">
		<script type="text/javascript" charset = "utf8" src="{{url_for('static', filename='hello.js')}}"></script>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/datatables.css')}}">
		<script type="text/javascript" charset="utf8" src="{{url_for('static', filename='DataTables/datatables.js')}}"></script>

		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
		     https://firebase.google.com/docs/web/setup#available-libraries -->
		 <!-- Add Firebase products that you want to use -->
  		<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>


		<script>
		  // Your web app's Firebase configuration
		  var firebaseConfig = {
		    apiKey: "AIzaSyDlJ0r-1zYR9lY_fHQj7cI2Guu05SHwpQo",
		    authDomain: "fullcourt-1227c.firebaseapp.com",
		    databaseURL: "https://fullcourt-1227c.firebaseio.com",
		    projectId: "fullcourt-1227c",
		    storageBucket: "fullcourt-1227c.appspot.com",
		    messagingSenderId: "181074644733",
		    appId: "1:181074644733:web:8ae66b29dce21bb31d3894"
		  };
		  // Initialize Firebase
		  firebase.initializeApp(firebaseConfig);
		</script>

		<!-- Firebase UI -->
		<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
		<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

	
	</head>
	
	<body>
		
		<h1>
			Hello {{name}}
		</h1>

		<div class="test">
			The time is now {{t}}
		</div>

		<div class="results">
			<table class="display" id="asadtable">

				<thead> <tr> <th>Name</th> <th>Position</th> </tr> </thead>

				<tbody>
					<tr><td>test</td><td>testing</td></tr>
					<tr><td>asad</td><td>waheed</td></tr>
				</tbody>
			</table>
		</div>
	</body>

</html>